
@model List<TodoApp1.Models.TodoItem>

@{
    ViewBag.Title = "TodoList";
}

<h2>TodoList</h2>


@*A listánkat egy ciklussal olvassuk ki.*@
<ol>
    @foreach (var todoItem in Model)
    {
        if (todoItem.Done)
        {
            <li><strike>@todoItem.Name</strike></li>
        }
        else
        {
            <li>@todoItem.Name</li>
        }

    }

</ol>

